{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}
<style>
  .header-search__content form.search .field::before,
  .header-search__content form.search .field::after,
  .header-search__content form.search .field__label {
    display: none;
  }
  .header-search__content .search__input::placeholder {
    opacity: 1;
  }
  .predictive-search__item .icon.icon-arrow,
  .predictive-search__item .icon.icon-close {
    stroke: #000;
  }
  .predictive-search * {
    color: #000;
    border-color: #00000020;
  }
  .header-search .predictive-search {
    background-color: #FFF;
  }
  .header-search__content form.search .field {
    z-index: 4;
  }
</style>
<div class="header-search">
  <div
    class="header-search__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
    tabindex="-1"
    >
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- else -%}
      <search-form class="search-modal__form">
    {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
      <div class="field">
        <input
          class="search__input field__input !shadow-none focus:!outline-none !outline-none border border-white border-solid !rounded-[3rem] !py-3 bg-white text-[#555]"
          id="{{ input_id }}"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results"
            aria-controls="predictive-search-results"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
        <input type="hidden" name="options[prefix]" value="last">
        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
          <svg class="icon icon-search" style="stroke: #555;" aria-hidden="true" focusable="false">
            <use href="#icon-search">
          </svg>
        </button>
      </div>

      {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header !rounded-[1rem]" tabindex="-1" data-predictive-search>
          {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
        </div>

        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}
    </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- else -%}
      </search-form>
    {%- endif -%}
    </div>
</div>
